---
import { marked } from "marked";
import { resolveSchemaRef, type SchemaDefinition } from "../utils/openapi";
import ApiSchemaTable from "./ApiSchemaTable.astro";

export type RequestParameter = {
  name: string;
  in: string;
  description: string;
  schema: SchemaDefinition;
  collapsed?: boolean;
};

const requestParameter: RequestParameter = Astro.props.requestParameter;
const swaggerData: object = Astro.props.swaggerData;
const collapsed: boolean = Astro.props.collapsed;
let className = Astro.props.class || "";
className += " api-request-body-schema";
---

<div class={className}>
  {
    requestParameter.description && (
      <div set:html={marked.parse(requestParameter.description)} class="mb-4" />
    )
  }
  <ApiSchemaTable
    schema={requestParameter.schema}
    swaggerData={swaggerData}
    collapsed={collapsed}
  />
</div>
