---
const {
  availableVersions,
  version,
  pathPrefix,
  pathSuffix,
  selectorId,
  stableVersion,
  latestVersion,
} = Astro.props;

function isVersionSelected(v: string) {
  if (version === "stable") {
    return v === stableVersion;
  }
  if (version === "latest") {
    return v === latestVersion;
  }
  return v === version;
}
---

<div class="version-select-wrap">
  <label for={selectorId} class="version-label">Version:</label>
  <select
    id={selectorId}
    class="version-select"
    onchange="window.location.href=this.value"
  >
    {
      availableVersions.map((v: string) => (
        <option
          value={`${pathPrefix}/${v}/${pathSuffix}`}
          selected={isVersionSelected(v)}
        >
          {v}{" "}
          {stableVersion && v === stableVersion
            ? "(stable)"
            : latestVersion && v === latestVersion
              ? "(latest)"
              : ""}
        </option>
      ))
    }
  </select>
</div>
